<!DOCTYPE html>
<html lang="en">
<head>
    <title>HEXAGON SAN DIAGO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="publisher" content="" />
    <meta name="format-detection" content="telephone=no" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#c19b76" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#c19b76" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#c19b76" />
    <!-- Font Başlangıç -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <link type="text/css" href="/library/fontawesome/css/all.min.css" rel="stylesheet" />
    <!-- Css Başlangıç -->
    <link type="text/css" href="/library/swiper/css/animate.compat.css" rel="stylesheet" />
    <link type="text/css" href="/library/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="/library/swiper/css/swiper.min.css" rel="stylesheet" />
    <link type="text/css" href="/library/fancybox/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link type="text/css" href="/library/helper/css/helper.css" rel="stylesheet" />
    <link type="text/css" href="/library/page-animate/css/aos.css" rel="stylesheet" />
    <link type="text/css" href="/library/site/css/style.css" rel="stylesheet" />
    <!-- Favicon Başlangıç -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon//apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/images/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/images/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/images/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/images/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/images/favicon/mstile-310x150.png" />
    @RenderSection("Style", required: false)
</head>
<body>
    <header class="navbar-gen">
        <div class="container-fluid px-0">
            <div class="container mt-2 px-0 px-md-3">
                <nav class="navbar">
                    <a class="navbar-brand" href="/">
                        <img src="/images/page/hexagon-san-diego-logo.png" />
                    </a>
                    <div class="navbar-phone ml-auto mr-3 mr-md-5 d-inline-flex ">
                        <a class="align-self-center mr-3 pr-3 mr-lg-4 pr-lg-4 d-inline-flex" href="tel:8665555555"><i class="fa-regular fa-phone mr-2"></i><span class="d-none d-lg-block">(866) 555-5555</span></a>
                        <ul class="narbar-link align-self-center">
                            <li><a href="#" target="_blank">Applicant</a></li>
                            <li><a href="#" target="_blank">Resident</a></li>
                        </ul>
                    </div>

                    <button class="navbar-toggler navbar-menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
                            aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="animated-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent22">
                        <ul class="navbar-nav mr-auto text-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Amenities">AMENITIES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="FloorPlans">FLOOR PLANS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Photos">PHOTOS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="VirtualTours">VIRTUAL TOURS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Map">MAP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Ebrochure">EBROCHURE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="ContactUs">CONTACT US</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="container-fluid px-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="pt-5">
        <div class="container-fluid bg-light-gray pt-5 pb-4 footer-center mt-5 position-relative">
            @*<div class="footer-logo">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center mx-auto">
                                <a href="/" class="">
                                    <img src="/images/page/hexagon-san-diego-logo.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-5 mb-lg-0 footer-blok">
                        <h4>ABOUT US</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a neque nibh. Quisque sit amet erat non arcu sollicitudin mattis.</p>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-5 mb-lg-0 footer-blok">
                        <h4>CONTACT</h4>
                        <p>
                            Hexagon San Diego at Poway
                            12730 Monte Vista Rd
                            Poway, CA 92064
                        </p>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12 mb-5 mb-lg-0 footer-blok">
                        <h4>OFFICE HOURS</h4>
                        <ul class="mb-0 list-unstyled">
                            <li>Closed</li>
                            <li><a href="tel:8665555555">(866) 555 - 5555</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 footer-blok">
                        <h4>SOCIAL MEDIA</h4>
                        <div class="social-media">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-yelp"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 text-center mt-4 footer-link">
                        <ul class="list-unstyled">
                            <li><a href="TermsAndConditions">Terms and Conditions</a></li>
                            <li><a href="PrivacyPolicy">Privacy Policy</a></li>
                            <li><a href="ContactUs">Contact Us</a></li>
                            <li><a href="AccessibilityStatement">Accessibility Statement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid footer-bottom">
            <div class="container py-3">
                <div class="row">
                    <div class="col-12 text-center copyright">
                        Copyright © 2022 - <a href="https://rellamedya.com/">Rella Dijital Ajans</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- javascript Başlangıç -->
    <script src="/library/site/js/jquery-3.4.1.min.js"></script>
    <script src="/library/bootstrap/js/bootstrap.min.js"></script>
    <script src="/library/bootstrap/js/popper.min.js"></script>
    <script src="/library/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/library/swiper/js/swiper.min.js"></script>
    <script src="/library/fancybox/js/jquery.fancybox.min.js"></script>
    <script src="/library/swiper/js/SwiperAnimation.min.js"></script>
    <script src="/library/page-animate/js/aos.js"></script>
    <script src="/library/site/js/site.js" defer=""></script>
    <script>
        if (!window.Cypress) AOS.init();
    </script>
    @RenderSection("Scripts", required: false)
    <script>
        $('.dropdown-toggle').dropdown()
    </script>

    <script>
        $(document).ready(function () {
            $('.navbar-menu-button').on('click', function () {
                $('.animated-icon').toggleClass('open');
                $('body').toggleClass('menu-open');
            });
        });
    </script>
</body>
</html>
