@page
@model HexagonSanDiego.Pages.AccessibilityStatementModel
@section Style{
}
@section Scripts{
}
<div class="container-fluid px-0 page-banner-container">
    <div class="slider-filter-2"></div>
    <img src="/images/page/page-banner.jpg">
    <div class="banner-page-title">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="f-family-old">ACCESSIBILITY STATEMENT</h1>
                </div>
            </div>
            <div class="row breadcrumb-gen">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">ACCESSIBILITY STATEMENT</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 content-gen-box">
            <h1>Commitment to Digital Accessibility</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin placerat purus. Cras vestibulum arcu neque, eu pellentesque eros finibus venenatis. Mauris quis orci pellentesque, commodo leo vitae, pulvinar mi. Praesent in nibh sed eros maximus cursus. Nulla facilisi. Vivamus vitae elit ut lectus tempus scelerisque. Vestibulum id sem eget lacus semper ornare at aliquam quam. In sed nisl id lectus iaculis tincidunt imperdiet vitae nunc. Curabitur venenatis neque ut turpis sodales, eu ultrices nisi elementum. Proin in faucibus enim. Vestibulum mattis hendrerit purus nec convallis. Nam imperdiet placerat mattis. Aenean lorem eros, semper vehicula enim a, consectetur consectetur sapien. Suspendisse id sem blandit, venenatis nisi nec, sagittis quam.</p>
            <p>Sed et tortor tincidunt, tempor magna sit amet, lobortis massa. Nunc venenatis suscipit magna et commodo. Ut quis sem velit. Sed aliquet ultricies sem finibus ornare. Suspendisse et odio diam. Morbi finibus condimentum orci vitae condimentum. Aenean consectetur dolor eget ligula cursus iaculis. Donec placerat, diam vel interdum consectetur, arcu metus tempor ligula, eget laoreet ipsum tortor non velit. Pellentesque quis varius neque. </p>
            <p>Nullam ullamcorper eros at ornare tincidunt. Sed risus tortor, fermentum ac dui ornare, faucibus sagittis purus. Nulla quis urna non lacus fringilla convallis. Praesent sollicitudin tellus a est pellentesque, et lobortis sem placerat. Suspendisse congue tempus ex, ut tempor sapien tristique tincidunt. Donec gravida sem id vulputate rutrum. Nam eu volutpat tortor, sed euismod diam. Integer varius sollicitudin felis gravida tristique. Suspendisse efficitur gravida consectetur. Donec at nibh erat. Nam mollis tellus id enim aliquam pharetra. Nulla facilisi. In convallis scelerisque neque, at pellentesque justo ultrices in. Integer aliquam at nisl iaculis facilisis.</p>
            <p>Aenean euismod vulputate eros, eu convallis dolor aliquam et. Vivamus malesuada, nulla non ultrices scelerisque, erat sapien bibendum magna, at tincidunt purus dui at urna. Proin ac pellentesque nulla, non volutpat quam. Phasellus ullamcorper ante et metus laoreet commodo. </p>
        </div>
    </div>
</div>