@page
@model HexagonSanDiego.Pages.AmenitiesModel
@section Style{
}
@section Scripts{
}
<div class="container-fluid px-0 page-banner-container">
    <div class="slider-filter-2"></div>
    <img src="/images/page/page-banner.jpg">
    <div class="banner-page-title">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="f-family-old">AMENITIES</h1>
                </div>
            </div>
            <div class="row breadcrumb-gen">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">AMENITIES</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 content-gen-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin placerat purus. Cras vestibulum arcu neque, eu pellentesque eros finibus venenatis. Mauris quis orci pellentesque, commodo leo vitae, pulvinar mi. Praesent in nibh sed eros maximus cursus. Nulla facilisi. Vivamus vitae elit ut lectus tempus scelerisque. Vestibulum id sem eget lacus semper ornare at aliquam quam. In sed nisl id lectus iaculis tincidunt imperdiet vitae nunc. Curabitur venenatis neque ut turpis sodales, eu ultrices nisi elementum. Proin in faucibus enim. Vestibulum mattis hendrerit purus nec convallis. Nam imperdiet placerat mattis. Aenean lorem eros, semper vehicula enim a, consectetur consectetur sapien. Suspendisse id sem blandit, venenatis nisi nec, sagittis quam.</p>
            <h4>Poway, CA 55+ Apartments</h4>
            <p>Sed et tortor tincidunt, tempor magna sit amet, lobortis massa. Nunc venenatis suscipit magna et commodo. Ut quis sem velit. Sed aliquet ultricies sem finibus ornare. Suspendisse et odio diam. Morbi finibus condimentum orci vitae condimentum. Aenean consectetur dolor eget ligula cursus iaculis. Donec placerat, diam vel interdum consectetur, arcu metus tempor ligula, eget laoreet ipsum tortor non velit. Pellentesque quis varius neque. </p>
            <p>Nullam ullamcorper eros at ornare tincidunt. Sed risus tortor, fermentum ac dui ornare, faucibus sagittis purus. Nulla quis urna non lacus fringilla convallis. Praesent sollicitudin tellus a est pellentesque, et lobortis sem placerat. Suspendisse congue tempus ex, ut tempor sapien tristique tincidunt. Donec gravida sem id vulputate rutrum. Nam eu volutpat tortor, sed euismod diam. Integer varius sollicitudin felis gravida tristique. Suspendisse efficitur gravida consectetur. Donec at nibh erat. Nam mollis tellus id enim aliquam pharetra. Nulla facilisi. In convallis scelerisque neque, at pellentesque justo ultrices in. Integer aliquam at nisl iaculis facilisis.</p>
            <p>Aenean euismod vulputate eros, eu convallis dolor aliquam et. Vivamus malesuada, nulla non ultrices scelerisque, erat sapien bibendum magna, at tincidunt purus dui at urna. Proin ac pellentesque nulla, non volutpat quam. Phasellus ullamcorper ante et metus laoreet commodo. </p>
        </div>
    </div>

    <div class="row tab-list-gen mt-5">
        <div class="col-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item text-center" role="presentation">
                    <a class="nav-link active" id="pills-community-tab" data-toggle="pill" href="#pills-community" role="tab" aria-controls="pills-community" aria-selected="true">
                        COMMUNITY AMENITIES
                    </a>
                </li>
                <li class="nav-item text-center" role="presentation">
                    <a class="nav-link" id="pills-apartment-tab" data-toggle="pill" href="#pills-apartment" role="tab" aria-controls="pills-apartment" aria-selected="false">
                        APARTMENT AMENITIES
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active pt-3" id="pills-community" role="tabpanel" aria-labelledby="pills-community-tab">
                    <div class="row mt-3">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="row list-div">
                                <div class="col-12">
                                    <div class=" list-box active">
                                        <a href="#">
                                            <h2>Studio, 1- & 2- Bedroom Senior Apartments</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-1.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Elevator</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-2.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>On - Site Maintenance</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-3.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Clubhouse</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-4.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Off Street Parking</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-1.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Carport</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-2.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>High Speed Internet</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-3.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Laundry Facilities</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-4.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Courtyard</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-1.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Business Center</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-2.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Covered Parking</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-3.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Fitness Center</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-4.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Library</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-1.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 d-none d-lg-block">
                            <figure class="figure">
                                <img src="/images/gallery/room-1.jpg" class="figure-img img-fluid rounded">
                                <figcaption class="figure-caption text-center">Studio, 1- & 2-Bedroom Senior Apartments</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade pt-3" id="pills-apartment" role="tabpanel" aria-labelledby="pills-apartment-tab">
                    <div class="row mt-3">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="row list-div">
                                <div class="col-12">
                                    <div class=" list-box active">
                                        <a href="#">
                                            <h2>Renovated Units Available</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-1.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Wheelchair Accessible</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-2.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Window Coverings</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-3.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>View</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-4.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Hardwood Floors</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-1.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Patio/Balcony</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-2.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Cable Ready</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-3.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Air Conditioner</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-4.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Carpeting</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-1.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Vaulted Ceilings</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-2.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Refrigerator</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-3.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class=" list-box">
                                        <a href="#">
                                            <h2>Microwave</h2>
                                            <i class="fa-duotone fa-image-polaroid"></i>
                                        </a>
                                        <img src="/images/gallery/room-4.jpg" class="img-fluid rounded d-block d-lg-none mt-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 d-none d-lg-block">
                            <figure class="figure">
                                <img src="/images/gallery/room-1.jpg" class="figure-img img-fluid rounded">
                                <figcaption class="figure-caption text-center">Renovated Units Available</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 content-gen-box">
            <h1>Pet Policy</h1>
            <ul>
                <li>
                    We Welcome Your Four Legged Family Member!
                    <ul>
                        <li>Two pet maximum allowed. Rent: $50.00 per pet/per month. Deposit: $300.00</li>
                        <li>Some breed restrictions apply; Contact the office for details. Weight Limit is 20 pounds</li>
                        <li>All dogs require manager's approval.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>