@page
@model HexagonSanDiego.Pages.ContactUsModel
@section Style{
}
@section Scripts{

}
<div class="container-fluid px-0 page-banner-container">
    <div class="slider-filter-2"></div>
    <img src="/images/page/page-banner.jpg">
    <div class="banner-page-title">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="f-family-old">CONTACT US</h1>
                </div>
            </div>
            <div class="row breadcrumb-gen">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">CONTACT US</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-6 col-md-12 contact">
            <div class="row">
                <div class="col-12">
                    <div class="d-inline-flex">
                        <div class="mr-3">
                            <i class="fa-regular fa-location-dot"></i>
                        </div>
                        <div>
                            <p>Hexagon San Diego at Poway 12730 Monte Vista Rd Poway, CA 92064</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="d-inline-flex">
                        <div class="mr-3">
                            <i class="fa-regular fa-phone"></i>
                        </div>
                        <div>
                            <p><a href="tel:8665555555">(866) 555-5555</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="d-inline-flex">
                        <div class="mr-3">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                        <div>
                            <p class="mb-1">Tuesday: 8 AM to- 5 PM</p>
                            <p class="mb-1">Wednesday: 8 AM to- 5 PM</p>
                            <p class="mb-1">Thursday: 8 AM to- 5 PM</p>
                            <p class="mb-1">Friday: 8 AM to- 5 PM</p>
                            <p class="mb-1">Saturday: 8 AM to- 5 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12  ml-xl-5 mt-5 mt-lg-0 bg-light-gray">
           
            <p>* indicates required fields.</p>
            <div class="form-group">
                <div class="form-row    ">
                    <div class="col-md-6 col-12 mb-3">
                        <input id="Text1" class="form-control form-control-lg" type="text" placeholder="First Name*" />
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <input id="Text1" class="form-control form-control-lg" type="text" placeholder="Last Name*" />
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <input id="Text1" class="form-control form-control-lg" type="text" placeholder="Email Address*" />
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <input id="Text1" class="form-control form-control-lg" type="text" placeholder="Phone Number*" />
                    </div>
                    <div class="col-12 mb-3">
                        <textarea id="TextArea1" rows="4" cols="20" class="form-control" placeholder="Message*"></textarea>
                    </div>
                    <div class="col-12 text-center mt-3">
                        <button type="button" class="btn btn-gold px-5 rounded-0 btn-lg">SEND MY MESSAGE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

