@page
@model HexagonSanDiego.Pages.EbrochureFloorPlansModel
@section Style{
}
@section Scripts{
}
<div class="container-fluid px-0 page-banner-container">
    <div class="slider-filter-2"></div>
    <img src="/images/page/page-banner.jpg">
    <div class="banner-page-title">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="f-family-old">EBROCHURE</h1>
                </div>
            </div>
            <div class="row breadcrumb-gen">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">EBROCHURE</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row  mb-4 border-bottom pb-3 ebrochure-head">
        <div class="col-auto">
            <i class="fa-regular fa-calendar-days"></i>03-07-2022
        </div>
        <div class="col-auto ml-auto">
            <div class="row">
                <div class="col-auto">
                    <a href="#"><i class="fa-regular fa-envelope"></i>EMAIL</a>
                </div>
                <div class="col-auto">
                    <a href="#"><i class="fa-regular fa-print"></i>PRINT</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center content-gen-box mt-4">
            <img height="70" class="mb-4" src="/images/page/hexagon-san-diego-logo.png" />
            <h4>Hexagon San Diego at Poway</h4>
            <p> 12730 Monte Vista Rd Poway, CA 92064</p>
            <p>(866) 555 - 5555</p>
        </div>
        <div class="col-12 content-gen-box mt-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin placerat purus. Cras vestibulum arcu neque, eu pellentesque eros finibus venenatis. Mauris quis orci pellentesque, commodo leo vitae, pulvinar mi. Praesent in nibh sed eros maximus cursus. Nulla facilisi. Vivamus vitae elit ut lectus tempus scelerisque. Vestibulum id sem eget lacus semper ornare at aliquam quam. In sed nisl id lectus iaculis tincidunt imperdiet vitae nunc. Curabitur venenatis neque ut turpis sodales, eu ultrices nisi elementum. Proin in faucibus enim. Vestibulum mattis hendrerit purus nec convallis. Nam imperdiet placerat mattis. Aenean lorem eros, semper vehicula enim a, consectetur consectetur sapien. Suspendisse id sem blandit, venenatis nisi nec, sagittis quam.</p>
            <p>Sed et tortor tincidunt, tempor magna sit amet, lobortis massa. Nunc venenatis suscipit magna et commodo. Ut quis sem velit. Sed aliquet ultricies sem finibus ornare. Suspendisse et odio diam. Morbi finibus condimentum orci vitae condimentum. Aenean consectetur dolor eget ligula cursus iaculis. Donec placerat, diam vel interdum consectetur, arcu metus tempor ligula, eget laoreet ipsum tortor non velit. Pellentesque quis varius neque. </p>
            <p>Nullam ullamcorper eros at ornare tincidunt. Sed risus tortor, fermentum ac dui ornare, faucibus sagittis purus. Nulla quis urna non lacus fringilla convallis. Praesent sollicitudin tellus a est pellentesque, et lobortis sem placerat. Suspendisse congue tempus ex, ut tempor sapien tristique tincidunt. Donec gravida sem id vulputate rutrum. Nam eu volutpat tortor, sed euismod diam. Integer varius sollicitudin felis gravida tristique. Suspendisse efficitur gravida consectetur. Donec at nibh erat. Nam mollis tellus id enim aliquam pharetra. Nulla facilisi. In convallis scelerisque neque, at pellentesque justo ultrices in. Integer aliquam at nisl iaculis facilisis.</p>
            <p>Aenean euismod vulputate eros, eu convallis dolor aliquam et. Vivamus malesuada, nulla non ultrices scelerisque, erat sapien bibendum magna, at tincidunt purus dui at urna. Proin ac pellentesque nulla, non volutpat quam. Phasellus ullamcorper ante et metus laoreet commodo. </p>
        </div>
        <div class="col-12 my-4">
            <div class="swiper ebrochure-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a data-fancybox="images" href="/images/gallery/room-1.jpg">
                            <img class="img-fluid border" src="/images/gallery/room-1.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fancybox="images" href="/images/gallery/room-2.jpg">
                            <img class="img-fluid border" src="/images/gallery/room-2.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fancybox="images" href="/images/gallery/room-3.jpg">
                            <img class="img-fluid border" src="/images/gallery/room-3.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fancybox="images" href="/images/gallery/room-4.jpg">
                            <img class="img-fluid border" src="/images/gallery/room-4.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fancybox="images" href="/images/gallery/room-1.jpg">
                            <img class="img-fluid border" src="/images/gallery/room-1.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fancybox="images" href="/images/gallery/room-2.jpg">
                            <img class="img-fluid border" src="/images/gallery/room-2.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fancybox="images" href="/images/gallery/room-3.jpg">
                            <img class="img-fluid border" src="/images/gallery/room-3.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a data-fancybox="images" href="/images/gallery/room-4.jpg">
                            <img class="img-fluid border" src="/images/gallery/room-4.jpg" />
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="col-12 content-gen-box mt-5">
            <h1>Floor Plans</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin placerat purus. Cras vestibulum arcu neque, eu pellentesque eros finibus venenatis. Mauris quis orci pellentesque, commodo leo vitae, pulvinar mi. Praesent in nibh sed eros maximus cursus. Nulla facilisi. Vivamus vitae elit ut lectus tempus scelerisque. Vestibulum id sem eget lacus semper ornare at aliquam quam. In sed nisl id lectus iaculis tincidunt imperdiet vitae nunc. Curabitur venenatis neque ut turpis sodales, eu ultrices nisi elementum. Proin in faucibus enim. Vestibulum mattis hendrerit purus nec convallis. Nam imperdiet placerat mattis. Aenean lorem eros, semper vehicula enim a, consectetur consectetur sapien. Suspendisse id sem blandit, venenatis nisi nec, sagittis quam.</p>
        </div>
        <div class="col-12">
            <div class="row  row-cols-lg-3 row-cols-md-2  row-cols-1  justify-content-center mt-4 floor-plans-box">
                <div class="col mb-4">
                    <div class="card h-100 floor-plans-box text-center">
                        <h1>Studio - S1</h1>
                        <ul class="list-unstyled list-group  mx-auto list-group-horizontal">
                            <li class="list-group-item"><i class="fa-regular fa-bed-front"></i> Studio</li>
                            <li class="list-group-item"><i class="fa-regular fa-bath"></i> Bath</li>
                            <li class="list-group-item"><i class="fa-regular fa-ruler-combined"></i> 390 Sq.Ft.</li>
                        </ul>
                        <a data-fancybox="images" href="/images/gallery/floor-1.jpg">
                            <img class="img-fluid" src="/images/gallery/floor-1.jpg" />
                        </a>
                        <div class="bg-light-gray p-4">
                            <h2>Call for details</h2>
                            <h3><span>Deposit: </span>$500</h3>
                        </div>
                        <a class="btn btn-gold px-5 rounded-0 btn-lg btn-block mt-3" data-fancybox href="https://www.youtube.com/watch?v=VZmPYUz877k"><i class="fa-regular fa-video mr-2"></i>VIDEO</a>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100 floor-plans-box text-center">
                        <h1>Studio - S1</h1>
                        <ul class="list-unstyled list-group  mx-auto list-group-horizontal">
                            <li class="list-group-item"><i class="fa-regular fa-bed-front"></i> Studio</li>
                            <li class="list-group-item"><i class="fa-regular fa-bath"></i> Bath</li>
                            <li class="list-group-item"><i class="fa-regular fa-ruler-combined"></i> 390 Sq.Ft.</li>
                        </ul>
                        <a data-fancybox="images" href="/images/gallery/floor-1.jpg">
                            <img class="img-fluid" src="/images/gallery/floor-1.jpg" />
                        </a>
                        <div class="bg-light-gray p-4">
                            <h2>Call for details</h2>
                            <h3><span>Deposit: </span>$500</h3>
                        </div>
                        <a class="btn btn-gold px-5 rounded-0 btn-lg btn-block mt-3" data-fancybox href="https://www.youtube.com/watch?v=VZmPYUz877k"><i class="fa-regular fa-video mr-2"></i>VIDEO</a>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100 floor-plans-box text-center">
                        <h1>Studio - S1</h1>
                        <ul class="list-unstyled list-group  mx-auto list-group-horizontal">
                            <li class="list-group-item"><i class="fa-regular fa-bed-front"></i> Studio</li>
                            <li class="list-group-item"><i class="fa-regular fa-bath"></i> Bath</li>
                            <li class="list-group-item"><i class="fa-regular fa-ruler-combined"></i> 390 Sq.Ft.</li>
                        </ul>
                        <a data-fancybox="images" href="/images/gallery/floor-1.jpg">
                            <img class="img-fluid" src="/images/gallery/floor-1.jpg" />
                        </a>
                        <div class="bg-light-gray p-4">
                            <h2>Call for details</h2>
                            <h3><span>Deposit: </span>$500</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 content-gen-box mt-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin placerat purus. Cras vestibulum arcu neque, eu pellentesque eros finibus venenatis. Mauris quis orci pellentesque, commodo leo vitae, pulvinar mi. Praesent in nibh sed eros maximus cursus. Nulla facilisi. Vivamus vitae elit ut lectus tempus scelerisque. Vestibulum id sem eget lacus semper ornare at aliquam quam. In sed nisl id lectus iaculis tincidunt imperdiet vitae nunc. Curabitur venenatis neque ut turpis sodales, eu ultrices nisi elementum. Proin in faucibus enim. Vestibulum mattis hendrerit purus nec convallis. Nam imperdiet placerat mattis. Aenean lorem eros, semper vehicula enim a, consectetur consectetur sapien. Suspendisse id sem blandit, venenatis nisi nec, sagittis quam.</p>
            <p>Sed et tortor tincidunt, tempor magna sit amet, lobortis massa. Nunc venenatis suscipit magna et commodo. Ut quis sem velit. Sed aliquet ultricies sem finibus ornare. Suspendisse et odio diam. Morbi finibus condimentum orci vitae condimentum. Aenean consectetur dolor eget ligula cursus iaculis. Donec placerat, diam vel interdum consectetur, arcu metus tempor ligula, eget laoreet ipsum tortor non velit. Pellentesque quis varius neque. </p>
            <p>Nullam ullamcorper eros at ornare tincidunt. Sed risus tortor, fermentum ac dui ornare, faucibus sagittis purus. Nulla quis urna non lacus fringilla convallis. Praesent sollicitudin tellus a est pellentesque, et lobortis sem placerat. Suspendisse congue tempus ex, ut tempor sapien tristique tincidunt. Donec gravida sem id vulputate rutrum. Nam eu volutpat tortor, sed euismod diam. Integer varius sollicitudin felis gravida tristique. Suspendisse efficitur gravida consectetur. Donec at nibh erat. Nam mollis tellus id enim aliquam pharetra. Nulla facilisi. In convallis scelerisque neque, at pellentesque justo ultrices in. Integer aliquam at nisl iaculis facilisis.</p>
            <p>Aenean euismod vulputate eros, eu convallis dolor aliquam et. Vivamus malesuada, nulla non ultrices scelerisque, erat sapien bibendum magna, at tincidunt purus dui at urna. Proin ac pellentesque nulla, non volutpat quam. Phasellus ullamcorper ante et metus laoreet commodo. </p>
        </div>
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-12 content-gen-box">
                    <h1>Amenities</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin placerat purus. Cras vestibulum arcu neque, eu pellentesque eros finibus venenatis. Mauris quis orci pellentesque, commodo leo vitae, pulvinar mi. Praesent in nibh sed eros maximus cursus. Nulla facilisi. Vivamus vitae elit ut lectus tempus scelerisque. Vestibulum id sem eget lacus semper ornare at aliquam quam. In sed nisl id lectus iaculis tincidunt imperdiet vitae nunc. Curabitur venenatis neque ut turpis sodales, eu ultrices nisi elementum. Proin in faucibus enim. Vestibulum mattis hendrerit purus nec convallis. Nam imperdiet placerat mattis. Aenean lorem eros, semper vehicula enim a, consectetur consectetur sapien. Suspendisse id sem blandit, venenatis nisi nec, sagittis quam.</p>
                    <h4>Poway, CA 55+ Apartments</h4>
                    <p>Sed et tortor tincidunt, tempor magna sit amet, lobortis massa. Nunc venenatis suscipit magna et commodo. Ut quis sem velit. Sed aliquet ultricies sem finibus ornare. Suspendisse et odio diam. Morbi finibus condimentum orci vitae condimentum. Aenean consectetur dolor eget ligula cursus iaculis. Donec placerat, diam vel interdum consectetur, arcu metus tempor ligula, eget laoreet ipsum tortor non velit. Pellentesque quis varius neque. </p>
                    <p>Nullam ullamcorper eros at ornare tincidunt. Sed risus tortor, fermentum ac dui ornare, faucibus sagittis purus. Nulla quis urna non lacus fringilla convallis. Praesent sollicitudin tellus a est pellentesque, et lobortis sem placerat. Suspendisse congue tempus ex, ut tempor sapien tristique tincidunt. Donec gravida sem id vulputate rutrum. Nam eu volutpat tortor, sed euismod diam. Integer varius sollicitudin felis gravida tristique. Suspendisse efficitur gravida consectetur. Donec at nibh erat. Nam mollis tellus id enim aliquam pharetra. Nulla facilisi. In convallis scelerisque neque, at pellentesque justo ultrices in. Integer aliquam at nisl iaculis facilisis.</p>
                    <p>Sed et tortor tincidunt, tempor magna sit amet, lobortis massa. Nunc venenatis suscipit magna et commodo. Ut quis sem velit. Sed aliquet ultricies sem finibus ornare.</p>
                    <div class="row mt-4">
                        <div class="col-md-6 col-12">
                            <h2>Community Amenities</h2>
                            <ul>
                                <li>Studio, 1- & 2-Bedroom Senior Apartments</li>
                                <li>Elevator</li>
                                <li>On-Site Maintenance</li>
                                <li>On-Site Management</li>
                                <li>Clubhouse</li>
                                <li>Off Street Parking</li>
                                <li>Carport</li>
                                <li>High Speed Internet</li>
                                <li>Laundry Facilities</li>
                                <li>Courtyard</li>
                                <li>Business Center</li>
                                <li>Covered Parking</li>
                                <li>Fitness Center</li>
                                <li>Library</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-12">
                            <h2>Apartment Amenities</h2>
                            <ul>
                                <li>Renovated Units Available</li>
                                <li>Wheelchair Accessible</li>
                                <li>Window Coverings</li>
                                <li>View</li>
                                <li>Hardwood Floors</li>
                                <li>Patio/Balcony</li>
                                <li>Cable Ready</li>
                                <li>Air Conditioner</li>
                                <li>Carpeting</li>
                                <li>Vaulted Ceilings</li>
                                <li>Refrigerator</li>
                                <li>Microwave</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-12 bg-light-gray p-5 content-gen-box align-self-start">
                    <h2>Pet Policy</h2>
                    <ul>
                        <li>
                            We Welcome Your Four Legged Family Member!
                            <ul>
                                <li>Two pet maximum allowed. Rent: $50.00 per pet/per month. Deposit: $300.00</li>
                                <li>Some breed restrictions apply; Contact the office for details. Weight Limit is 20 pounds</li>
                                <li>All dogs require manager's approval.</li>
                            </ul>
                        </li>
                    </ul>
                    <h2 class="mt-5">Office Hours</h2>
                    <ul>
                        <li>Tuesday: 8 AM to- 5 PM</li>
                        <li>Wednesday: 8 AM to- 5 PM</li>
                        <li>Thursday: 8 AM to- 5 PM</li>
                        <li>Friday: 8 AM to- 5 PM</li>
                        <li>Saturday: 8 AM to- 5 PM</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 content-gen-box mt-5">
            <h1>Location</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12045.363266195562!2d29.053964!3d40.995913!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x684675e1d4b47eb2!2sRella%20Medya!5e0!3m2!1str!2str!4v1645776311668!5m2!1str!2str" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

    </div>
</div>
