@page
@model HexagonSanDiego.Pages.EbrochureModel
@section Style{
}
@section Scripts{
}
<div class="container-fluid px-0 page-banner-container">
    <div class="slider-filter-2"></div>
    <img src="/images/page/page-banner.jpg">
    <div class="banner-page-title">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="f-family-old">EBROCHURE</h1>
                </div>
            </div>
            <div class="row breadcrumb-gen">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">EBROCHURE</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 content-gen-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin placerat purus.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered table-ebrochure">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="checkbox1" id="checkbox1" />
                                    <label id="lbl1" class="custom-control-label" for="checkbox1">
                                    </label>
                                </div>
                            </th>
                            <th scope="col">Floor Plan</th>
                            <th scope="col">Bed</th>
                            <th scope="col">Bath</th>
                            <th scope="col">Sq.Ft.</th>
                            <th scope="col">Rent</th>
                            <th scope="col">Deposit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="checkbox1" id="checkbox2" />
                                    <label id="lbl1" class="custom-control-label" for="checkbox2">
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="/images/gallery/floor-1.jpg" data-fancybox="images">Studio - s1</a>
                            </td>
                            <td>Studio</td>
                            <td>1</td>
                            <td>390</td>
                            <td>Call for details</td>
                            <td>$500</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="checkbox1" id="checkbox3" />
                                    <label id="lbl1" class="custom-control-label" for="checkbox3">
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="/images/gallery/floor-1.jpg" data-fancybox="images">Studio Large - s2</a>
                            </td>
                            <td>Studio</td>
                            <td>1</td>
                            <td>390</td>
                            <td>Call for details</td>
                            <td>$500</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="checkbox1" id="checkbox4" />
                                    <label id="lbl1" class="custom-control-label" for="checkbox4">
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="/images/gallery/floor-1.jpg" data-fancybox="images">Studio w/Alcove 1 - sa1</a>
                            </td>
                            <td>Studio</td>
                            <td>1</td>
                            <td>390</td>
                            <td>Call for details</td>
                            <td>$500</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="checkbox1" id="checkbox5" />
                                    <label id="lbl1" class="custom-control-label" for="checkbox5">
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="/images/gallery/floor-1.jpg" data-fancybox="images">Studio w/Alcove 2 - sa2</a>
                            </td>
                            <td>Studio</td>
                            <td>1</td>
                            <td>390</td>
                            <td>Call for details</td>
                            <td>$500</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="checkbox1" id="checkbox6" />
                                    <label id="lbl1" class="custom-control-label" for="checkbox6">
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="/images/gallery/floor-1.jpg" data-fancybox="images">Studio w/Alcove 3 - sa3</a>
                            </td>
                            <td>Studio</td>
                            <td>1</td>
                            <td>390</td>
                            <td>Call for details</td>
                            <td>$500</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="checkbox1" id="checkbox7" />
                                    <label id="lbl1" class="custom-control-label" for="checkbox7">
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="/images/gallery/floor-1.jpg" data-fancybox="images">One Bedroom - a1</a>
                            </td>
                            <td>Studio</td>
                            <td>1</td>
                            <td>390</td>
                            <td>Call for details</td>
                            <td>$500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 mt-3">
            <button type="button" class="btn btn-gold rounded-0 px-5">SUBMIT</button>
        </div>
    </div>
</div>