@page
@model HexagonSanDiego.Pages.MapModel
@section Style{
}
@section Scripts{
}
<div class="container-fluid px-0 page-banner-container">
    <div class="slider-filter-2"></div>
    <img src="/images/page/page-banner.jpg">
    <div class="banner-page-title">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="f-family-old">MAP</h1>
                </div>
            </div>
            <div class="row breadcrumb-gen">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">MAP</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 content-gen-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin placerat purus. Cras vestibulum arcu neque, eu pellentesque eros finibus venenatis. Mauris quis orci pellentesque, commodo leo vitae, pulvinar mi. Praesent in nibh sed eros maximus cursus. Nulla facilisi. Vivamus vitae elit ut lectus tempus scelerisque. Vestibulum id sem eget lacus semper ornare at aliquam quam. In sed nisl id lectus iaculis tincidunt imperdiet vitae nunc. Curabitur venenatis neque ut turpis sodales, eu ultrices nisi elementum. Proin in faucibus enim. Vestibulum mattis hendrerit purus nec convallis. Nam imperdiet placerat mattis. Aenean lorem eros, semper vehicula enim a, consectetur consectetur sapien. Suspendisse id sem blandit, venenatis nisi nec, sagittis quam.</p>
        </div>
        <div class="col-md-6 col-12 mt-3">
            <div class="input-group">
                <input type="text" class="form-control form-control-lg" placeholder="Enter your address">
                <div class="input-group-append" id="button-addon4">
                    <button type="button" class="btn btn-gold rounded-0 "><i class="fa-regular fa-location-arrow"></i></button>
                    <button type="button" class="btn btn-black rounded-0 "><i class="fa-solid fa-turn-down fa-rotate-270"></i></button>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-12 mt-3 mt-4">
            <div class="input-group">
                <select id="Select1" class="form-control">
                    <option>All Categories</option>
                    <option>Entertainment</option>
                    <option>Food</option>
                    <option>Shops And Service</option>
                    <option>Night Life</option>
                    <option>Recreation</option>
                    <option>Professional</option>
                    <option>Travel</option>
                </select>
            </div>

        </div>
        <div class="col-12 mt-3">
            109 results found.
        </div>
        <div class="col-12 mt-5 ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12045.363266195562!2d29.053964!3d40.995913!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x684675e1d4b47eb2!2sRella%20Medya!5e0!3m2!1str!2str!4v1645776311668!5m2!1str!2str" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-12 list-link">
            <h2 class="mt-5">Entertainment</h2>
            <ul>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
            <h2 class="mt-5">Food</h2>
            <ul>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
            <h2 class="mt-5">Shops And Service</h2>
            <ul>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
            <h2 class="mt-5">Night Life</h2>
            <ul>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
            <h2 class="mt-5">Recreation</h2>
            <ul>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
            <h2 class="mt-5">Professional</h2>
            <ul>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
            <h2 class="mt-5">Travel</h2>
            <ul>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
        </div>
        <div class="col-12 mt-5 content-gen-box">
            <h1>Apartments near San Diego</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin placerat purus. Cras vestibulum arcu neque, eu pellentesque eros finibus venenatis. Mauris quis orci pellentesque, commodo leo vitae, pulvinar mi. Praesent in nibh sed eros maximus cursus. Nulla facilisi. Vivamus vitae elit ut lectus tempus scelerisque. Vestibulum id sem eget lacus semper ornare at aliquam quam. In sed nisl id lectus iaculis tincidunt imperdiet vitae nunc. Curabitur venenatis neque ut turpis sodales, eu ultrices nisi elementum. Proin in faucibus enim. Vestibulum mattis hendrerit purus nec convallis. Nam imperdiet placerat mattis. Aenean lorem eros, semper vehicula enim a, consectetur consectetur sapien. Suspendisse id sem blandit, venenatis nisi nec, sagittis quam.</p>
            <p>Aenean euismod vulputate eros, eu convallis dolor aliquam et. Vivamus malesuada, nulla non ultrices scelerisque, erat sapien bibendum magna, at tincidunt purus dui at urna. Proin ac pellentesque nulla, non volutpat quam. Phasellus ullamcorper ante et metus laoreet commodo.</p>
        </div>
    </div>
</div>