@page
@model HexagonSanDiego.Pages.PhotosModel
@section Style{
}
@section Scripts{
    
}
<div class="container-fluid px-0 page-banner-container">
    <div class="slider-filter-2"></div>
    <img src="/images/page/page-banner.jpg">
    <div class="banner-page-title">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="f-family-old">PHOTOS</h1>
                </div>
            </div>
            <div class="row breadcrumb-gen">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">PHOTOS</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 content-gen-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin placerat purus. Cras vestibulum arcu neque, eu pellentesque eros finibus venenatis. </p>
        </div>
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-6 mb-4">
                    <a data-fancybox="images" href="/images/gallery/room-1.jpg">
                        <img class="img-fluid" src="/images/gallery/room-1.jpg" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-6 mb-4">
                    <a data-fancybox="images" href="/images/gallery/room-2.jpg">
                        <img class="img-fluid" src="/images/gallery/room-2.jpg" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-6 mb-4">
                    <a data-fancybox="images" href="/images/gallery/room-3.jpg">
                        <img class="img-fluid" src="/images/gallery/room-3.jpg" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-6 mb-4">
                    <a data-fancybox="images" href="/images/gallery/room-4.jpg">
                        <img class="img-fluid" src="/images/gallery/room-4.jpg" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-6 mb-4">
                    <a data-fancybox="images" href="/images/gallery/room-3.jpg">
                        <img class="img-fluid" src="/images/gallery/room-3.jpg" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-6 mb-4">
                    <a data-fancybox="images" href="/images/gallery/room-4.jpg">
                        <img class="img-fluid" src="/images/gallery/room-4.jpg" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-6 mb-4">
                    <a data-fancybox="images" href="/images/gallery/room-1.jpg">
                        <img class="img-fluid" src="/images/gallery/room-1.jpg" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-6 mb-4">
                    <a data-fancybox="images" href="/images/gallery/room-2.jpg">
                        <img class="img-fluid" src="/images/gallery/room-2.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
