@page
@model HexagonSanDiego.Pages.VirtualToursModel
@using HexagonSanDiego.Models
@section Style{
}
@section Scripts{

}
<div class="container-fluid px-0 page-banner-container">
    <div class="slider-filter-2"></div>
    <img src="/images/page/page-banner.jpg">
    <div class="banner-page-title">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="f-family-old">VIRTUAL TOURS</h1>
                </div>
            </div>
            <div class="row breadcrumb-gen">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">VIRTUAL TOURS</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        @foreach (var item in Model.allVertualTours)
        {
            <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-4">
                <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 75%;"><iframe src="@(item.url)" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen allow="xr-spatial-tracking;"></iframe></div>
            </div>
        }
    </div>
</div>
